@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    justify-content: center;
}
.card{
    background-color: white;
    padding: 40px;
    width: 40%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
p{
    color: #878787;
    font-size: 12px;
}
.dates{
    display: flex;
    align-items: flex-end;
    
}
input{
    width: 120px;
    height: 50px;
    border: 1px solid #878787;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    text-indent: 20px;

    
}
input:focus{
    border-color: #878787;
    outline: none;
    font-size: 30px;
  
}
input::placeholder{
    color: #878787;
    font-weight: 700;
    font-size: 25px;
    padding-left: 5px;
}
.image-1{
    background-color: black;
}
small{
    font-size: 10px;
    font-weight: 400;
    color: hsl(0, 100%, 67%);
}
.foto{
    background-color: transparent;
    border: none;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    
}
.border{
    width: 90%;
    height: 1px;
    background-color: hsl(0, 0%, 86%)
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.img-1{
    background-color: hsl(259, 100%, 65%);
    padding: 15px;
    border-radius: 50%;
    width: 65px;
    display: flex;
    justify-content: end;
}
.day,.month{
    margin-right: 20px;
}
.ani,.mo,.da{
    display: flex;
    align-items: center;
}
.ani h1, .mo h1, .da h1{
    color: #864CFF;
    font-size: 80px;
}
.border2{
    width: 50%;
    height: 1px;
    background-color: hsl(0, 0%, 86%);
    display: none;
}
span{
    font-size: 70px;
    font-weight: 800;
    font-style: italic;
}
@media screen and (max-width:1000px){
input{
    width: 100%;
    padding: 0;
}
.card{
    width: 90%;
}

span{
    font-size: 60px;
}
.ani h1, .mo h1, .da h1{
    
    font-size: 60px;
}
.foto{
    justify-content: center;
}
.border{
    width: 50%;
}
.border2{
    display: block;
    width: 50%;
    
}
}
@media screen and (max-width:450px){
  span{
    
    font-size: 40px;
}  
}